@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
    font: 14px;
}

body{
    background-color: #2e2e2e;
    height: 100%;
}

.container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
}

a{
    text-decoration: none;
    /*color: #ffffff;*/
}

/***.degrade{
    background: linear-gradient(to right, #fbad50, #bc2a8d);
}*/

/*Estilo do header*/
header{
    text-align: center;
    margin-bottom: 40px;
}


header h1{
    font-size: 2em;
    margin-top: 70px;
    margin-bottom: 10px;
    color: #fcfcfc;
    font-weight: 300;
}

/*Estilo dos links da lista*/
.paginas{
    max-width: 550px;
    gap: 20px;
    margin: auto;
}

.paginas ol{
 margin: auto;
} 
.paginas ol li{
    color: #ffffff;   
    margin-bottom: 6px;
    transition: 0.2s; 
}

.paginas ol li a{
    font-size: 1.2em;
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s; 
}

.paginas ol li:hover{
    transform: scale(1.10);
}

.paginas ol li a:hover{
    font-size: 1.5em;
    color: #0084ff;
}