@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
    font: 14px;
}

body{
    background-color: #2B2D42;
    height: 100%;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
}

a{
    text-decoration: none;
    /*color: #ffffff;*/
}

/***.degrade{
    background: linear-gradient(to right, #fbad50, #bc2a8d);
}*/

/*Estilo do header*/
header{
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
}

header img{
    max-width: 300px;
    margin-bottom: 70px;
    margin-top: 70px;
}

header h1{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 300;
}

/*Estilo dos cards*/
.modelos{
    width: 90%;
    margin: auto;
    border-radius: 20px;
}
.imagens{
    display: flex;
    gap: 20px;
    margin: auto;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.imagens a img{
    max-width: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 9px #1a1919;
    transition: 0.2s;
}

.imagens a img:hover{
    transform: scale(1.15);
}

.imagens .botoes{
    display: none;
}

/*Estilo dos botão*/
.botao{
    align-items: center;
    width: 62%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 20px;
    background-color: #1a1919;
    box-shadow: 5px 5px 9px #1a1919a8;
}

.botao h1{
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}
.botao a{
    align-items: center;
    margin: auto;
    display: flex;
}

.botao a button i{
    font-size: 1.5em;
}

.botao p{
    margin-bottom: 30px;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
}

.botao a button{
    width: 40%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4da735;
    /*background: linear-gradient(to right, #fbad50, #bc2a8d);*/
    color: #ffffff;
    transition: 0.2s;
    margin: auto;
}

.botao a button:hover{
    transform: scale(1.05);
}

.botao .beneficios{
    width: 90%;
    margin: auto;
    margin-top: 70px;
    font-size: 1.2em;
    margin-bottom: 50px;
}

.botao .beneficios .vantagem{
    margin-bottom: 10px;
}

.botao .beneficios .vantagem i{
    padding-right: 10px;
}


/*Estilo dos footer*/
footer{
    text-align: center;
    /*position: absolute;*/
    bottom: 0%;
    width: 100%;
    color: #ffffff;
}

footer p{
    text-align: center;
    padding-bottom: 5px;
}

/*Media querie*/

@media screen and (max-width: 700px){
    
    .imagens a{
        text-align: center;
    }
    .imagens a img{
        width: 100%;
    }

    .botao{
        align-items: center;
        width: 80%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 70px;
        border-radius: 20px;
        background-color: #1a1919;
        box-shadow: 5px 5px 9px #1a1919;
    }

    .botao .beneficios{
        width: 90%;
        margin: auto;
        margin-top: 70px;
        font-size: 1em;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 600px){
    header img{
        max-width: 70%;
        margin-bottom: 25px;
        margin-top: 70px;
    }

    .modelos{
        width: 95%;
        padding-top: 20px;
        margin: auto;
        border-radius: 20px;
        background-color: #1a1919;
        box-shadow: 5px 5px 8px #1a1919a8;
    }

    .imagens a .card1{
        max-width: 85%;
        margin: auto;
        box-shadow: 5px 5px 8px #141414;
    }
    .imagens a .card2{
        display: none;
    }
    .imagens a .card3{
        display: none;
    }
    .imagens a .card4{
        display: none;
    }

    .imagens .botoes{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        
    }

    .imagens .botoes button{
        margin: 10px;
        border: none;
        background-color: #1a191900;
    }

    .imagens .botoes button i{
        font-size: 6em;
        color: #ffffff;
    }
    

    header h1{
        font-size: 1.2em;
        margin-bottom: 5px;
        color: #ffffff;
        font-weight: 300;
        text-align: center;
    }
    
    .botao p{
        margin-bottom: 25px;
        font-size: 1.2em;
        text-align: center;
    }

    .botao a button{
        width: 70%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        border-radius: 20px;
        font-size: 1.2em;
        cursor: pointer;
        background-color: #4da735;
        /*background: linear-gradient(to right, #fbad50, #bc2a8d);*/
        color: #ffffff;
        transition: 0.2s;
        margin: auto;
    }

    .botao{
        align-items: center;
        width: 99%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 70px;
        border-radius: 20px;
        background-color: #1a1919;
        box-shadow: 5px 5px 9px #1a1919;
    }

    .botao .beneficios{
        width: 90%;
        margin: auto;
        margin-top: 70px;
        font-size: 0.9em;
        margin-bottom: 50px;
    }
}
